absl-py==0.7.1
astor==0.7.1
astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
future==0.17.1
gast==0.2.2
google-pasta==0.1.5
googleapis-common-protos==1.5.10
grpcio==1.16.1
h5py==2.9.0
idna==2.8
isort==4.3.16
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
llvmlite==0.28.0
Markdown==3.1
matplotlib==3.0.3
mccabe==0.6.1
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
mypy==0.701
mypy-extensions==0.4.1
numba==0.43.1
numpy==1.16.2
olefile==0.46
pbr==5.1.3
pep8==1.7.1
Pillow==8.2.0
promise==2.2.1
protobuf==3.7.1
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
rope==0.14.0
scipy==1.2.1
six==1.12.0
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow==2.9.3
tensorflow-datasets==1.0.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.5.1
tensorflow-metadata==0.13.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
tornado==6.0.2
tqdm==4.31.1
typed-ast==1.3.4
urllib3==1.26.5
Werkzeug==0.15.2
wrapt==1.11.1
